name: Build and Test PyClustering Library

on: [push, pull_request]

jobs:
  test-pypi:
    name: Build and Test PyClustering Library
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v1
      - name: Set rights to run CI script
        run: chmod u+x ci/github-ci.sh
      - name: Run a multi-line script
        run: ./ci/github-ci.sh TEST_CMAKE_PYCLUSTERING_BUILD
