name: Test TestPyPi Installer

on: [workflow_dispatch]

jobs:
  test-pypi:
    name: Test TestPyPi Installer
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v1
      - name: Set rights to run CI script
        run: chmod u+x ci/github-ci.sh
      - name: Run a multi-line script
        run: ./ci/github-ci.sh TESTPYPI_INSTALLER
